* {
  transition: all 0.3s;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav {
  border-bottom: 1px solid #2f2f2f;
  max-width: 1440px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end ;
}

.nav-item {
  border-radius: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #4a5568;
  margin-left: 30px;
  padding: 0 5px;
}

.active {
  background-color: #FF8787;
  color: white;
}
